#gameMatrix {
    border: 5px;
    background-color: lightblue;
    empty-cells: show;
}

.table-tr{
    background-color: lightblue;
    height: 2em;
}

.table-td{
    min-width: 2em;
    border: solid 1px black;
}

.td-blocked{
    background-color: black;
}

.td-start{
    background-color: blue;
}

.td-end{
    background-color: red;
}

.td-visited{
    background-color: yellow;
}

.td-active{
    background-color: green;
}

.td-path{
    background-color:blueviolet;
}

.td-closed{
    background-color:orange;
}